<!-- Navigation Bar -->
    <nav class="navbar">
        <div class="container nav-container">
            <a href="{% url "home" %}" class="logo">Vacation<span>Rental</span></a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">My Booking</a></li>
                <li><a href="#">Local Experiences</a></li>
                <li><a href="#">Notification</a></li>
                {% comment %} <li><a href="#">Services</a></li> {% endcomment %}
                {% comment %} <li><a href="#">Booking Details</a></li> {% endcomment %}
            </ul>
            {% comment %} <div class="nav-actions">
                <a href="{% url 'login' %}" class="btn-primary">Book Now</a>
            </div> {% endcomment %}
            <div class="profile-dropdown">
            <button class="profile-btn">👤</button>
                <div class="dropdown-menu">
                    <a href="#">My Profile</a>
                    <a href="#">Booking History</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </nav>